In [2]:
import pandas as pd
import sqlalchemy as sq
import gif
import matplotlib.pyplot as plt

In [3]:
from bs4 import BeautifulSoup
import requests
url = "https://www.ajmc.com/view/a-timeline-of-covid19-developments-in-2020"
req = requests.get(url)
soup = BeautifulSoup(req.text, "html.parser")
print(soup.title)

<title>A Timeline of COVID-19 Developments in 2020 | AJMC</title>

In [4]:
headlines = []
for title in soup.find_all('strong'):
    headlines.append(title.text)

In [5]:
headlines = pd.Series(headlines)
df_news = headlines.str.split("—",expand=True)
df_news.columns = ['date','headline']

In [6]:
df_news.date = "2020 " + df_news['date']
df_news.date = df_news.date.str.replace('  ',' ')
df_news.date = df_news.date.str.strip()
df_news.date = df_news.date.str.replace(" \xad",'')

In [7]:
df_news = df_news.drop(23) # this is empty
df_news = df_news.reset_index(drop=True)
df_news.date = pd.to_datetime(df_news['date'])

In [8]:
df_news

          date                                           headline
0   2020-01-09   WHO Announces Mysterious Coronavirus-Related ...
1   2020-01-20   CDC Says 3 US Airports Will Begin Screening f...
2   2020-01-21             CDC Confirms First US Coronavirus Case
3   2020-01-21   Chinese Scientist Confirms COVID-19 Human Tra...
4   2020-01-23                         Wuhan Now Under Quarantine
..         ...                                                ...
107 2020-11-16   FDA to Move Rapidly on EUAs for Pfizer, Moder...
108 2020-11-17   Fauci Highlights the Need for Long-term Follo...
109 2020-11-18          Pfizer, BioNTech Vaccine Is 95% Effective
110 2020-11-20   Pfizer, BioNTech Submit EUA Application; CDC ...
111 2020-11-23   AstraZeneca Reports Vaccine Is 90% Effective;...

[112 rows x 2 columns]

In [9]:
###############
## Load data ##
###############
# connect to db
engine = sq.create_engine(f'postgres://postgres:helllo@192.168.1.240:5432')
cnx = engine.connect()
meta = sq.MetaData()

# get all schemas
meta.reflect(bind=engine)

# select schema
table = meta.tables['covid_world']

# retreive table
raw_request = sq.select([table])
ResultSet = cnx.execute(raw_request).fetchall()
df=pd.DataFrame(ResultSet)
df.columns=ResultSet[0].keys()
#df['date'] = pd.to_datetime(df['date'])
cols = list(df.columns)
cols.sort()
df = df[cols]
df.columns
premade_df = pd.DataFrame(df[(df['location']=='United States') | (df['location']=='Hungary')])
premade_df.head()

,aged_65_older,aged_70_older,cardiovasc_death_rate,continent,date,deaths_per_pos,diabetes_prevalence,extreme_poverty,female_smokers,gdp_per_capita,...,total_cases,total_cases_per_million,total_deaths,total_deaths_per_million,total_tests,total_tests_per_thousand,weekly_hosp_admissions,weekly_hosp_admissions_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million
21881,18.577,11.976,278.296,Europe,2020-01-23,NaN,7.55,0.5,26.8,26777.561,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21910,18.577,11.976,278.296,Europe,2020-01-24,NaN,7.55,0.5,26.8,26777.561,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23421,18.577,11.976,278.296,Europe,2020-01-25,NaN,7.55,0.5,26.8,26777.561,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23422,18.577,11.976,278.296,Europe,2020-01-26,NaN,7.55,0.5,26.8,26777.561,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23423,18.577,11.976,278.296,Europe,2020-01-27,NaN,7.55,0.5,26.8,26777.561,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
premade_df['date'] = pd.to_datetime(premade_df['date'])
#premade_df = premade_df[premade_df['location']=='United States']
#premade_df = premade_df.set_index('date')

In [11]:
import plotly.express as px

In [12]:
headline_ = {}

In [13]:
for i, row in df_news.iterrows():
    headline_[row['date']] = row['headline']

In [14]:
premade_df['headlines'] = premade_df['date'].map(headline_)

In [15]:
premade_df['headlines'] = premade_df['headlines'].fillna('')

In [16]:
premade_df[(premade_df['location']=='United States') & (premade_df['date']==d)]['new_cases_smoothed_per_million'].reset_index(drop=True)

NameError: name 'd' is not defined

In [ ]:
import plotly.graph_objects as go

fig = go.Figure()

fig.add_trace(go.Scatter(
    x=premade_df[premade_df['location']=='Hungary']['date'],
    y=premade_df[premade_df['location']=='Hungary']['new_cases_smoothed_per_million']
))


fig.add_trace(go.Scatter(
    x=premade_df[premade_df['location']=='United States']['date'],
    y=premade_df[premade_df['location']=='United States']['new_cases_smoothed_per_million']
))

for d in headline_.keys():
    if d in premade_df.date:
        y = premade_df[(premade_df['location']=='United States') & (premade_df['date']==d)]['new_cases_smoothed_per_million'].reset_index(drop=True)[0]
        fig.add_annotation(x=d,
                           y=y,
                           text=headline_[d],
                           showarrow=True,
                           yshift=1)


fig.update_layout(showlegend=False)

fig.show()

In [ ]:
px.scatter(data_frame = premade_df,
        x='date',
        y='new_cases_smoothed_per_million',
        color='location',
        
       )

In [ ]:
END=premade_df.index[-1]
START=premade_df.index[0]

date_tracker = {}
date_tracker['og_date'] = [50,"demo_headline"]

@gif.frame
def plot(premade_df, date, col1 = 'new_cases_smoothed_per_million', col2 = 'new_deaths_smoothed_per_million'):
    premade_df =premade_df.loc[premade_df.index[0]:pd.Timestamp(date)]
    fig, (ax1) = plt.subplots(1, figsize=(20,5), dpi=100)
    ax1.plot(premade_df[col1], color = 'tab:orange',marker='o',linestyle='--', linewidth=2,markersize=5)
    maxi = round(premade_df[col1].max() + 100)
    ax1.set_ylabel('New Cases per Million', color='tab:orange', fontsize=20)

    if date > pd.Timestamp("2020-03-06"):
        ax1.text(s="21 Passengers on cruise ship test positive",x=pd.Timestamp("2020-03-06"),y=50)
    
    for d in df_news.date:
        if d < date:
            ser = df_news[df_news['date'] == pd.Timestamp(d)]['headline']
            txt = ser.reset_index(drop=True)[0]
            last_date = list(date_tracker.keys())[-1]
            y = date_tracker[last_date][0] + 5
            date_tracker[date] = y
            ax1.text(s=txt,x=d,y=y)
    
    ax2= ax1.twinx()
    ax2.plot(premade_df[col2], color = 'tab:blue',marker='o', linestyle='--', linewidth=2,markersize=5)
    ax2.set_ylabel('New Deaths per Million',color = 'tab:blue',fontsize=20)
    #ax2.set_xlim([START,END])
    plt.title('Covid19 in the United States',fontsize=30)

#### ANIMATION CREATION ####
frames = []

for date in pd.date_range(start = premade_df.index[0], end = premade_df.index[-1], freq='1M'):
    frame = plot(premade_df, date)
    frames.append(frame)
    
gif.save(frames, "covid.gif", duration=2,unit = 's', loop=True)
#fig.update_layout(width=500, height=300)

#visualizing the GIF
from IPython.display import HTML

HTML('<img src="./covid.gif"/>')

In [ ]:
date_tracker['og_date'][0]